.compare-container {
  max-width: 1200px;
  margin: 40px auto;
}

.compare-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.compare-card {
  background: var(--elements-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.compare-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
.compare-checkbox {
  cursor: pointer;
}
